body {
    background: url(./img/bg.jpg) no-repeat;
    background-size: 2200px;
    background-color: #d3ece9;
    background-position-y: -300px;
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 56px;
    color: black;
}
h2 {
    font-size: 36px;
}
.wrapper {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}

/* HEADER START */


* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'segoe ui';
}

.nav {
    height: 90px;
    width: 100%;
    background-color: #4d4d4d;
    position: relative;
}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 36px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 24px;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 25px 10px 25px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
    display: none;
}

/*HEADER END*/
.videos {
    width: 100%;
}
.videos-wrapper {
    max-width: 1440px;
    margin: 190px auto;
}
.title-text {
    font-size: 24px;
    margin-left: 50px;
}
.main-text {
    font-size: 24px;
    margin-left: 50px;
}

/* TEXT START */

.about-wrap {
    max-width: 1060px;
    background-color: white;
    margin: 50px auto;
    height: 600px;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}
.text-title {
    padding-top: 10px;
    font-size: 28px;
    font-weight: bold;
}
.text-main {
    font-size: 24px;
    padding: 10px 10px 0 10px;
}
.quiz-title {
    font-size: 28px;
    font-weight: bold;
}
:root {
    --background: #E5FFB3;
    --background-accent: #DBF8A3;
    --background-accent-2: #BDE66E;
    --light: #92DE34;
    --dark: #69BC22;
    --text: #025600;
}

.button-quiz {
    display: block;
    width: 400px;
    margin: 1680px auto 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 30vh;
}

button {
    display: block;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: var(--light);
    width: 400px;
    height: 70px;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text);
    background-size: 100% 100%;
    box-shadow: 0 0 0 7px var(--light) inset;
    margin-bottom: 15px;
}

button:hover {
    background-image: linear-gradient(
            145deg,
            transparent 10%,
            var(--dark) 10% 20%,
            transparent 20% 30%,
            var(--dark) 30% 40%,
            transparent 40% 50%,
            var(--dark) 50% 60%,
            transparent 60% 70%,
            var(--dark) 70% 80%,
            transparent 80% 90%,
            var(--dark) 90% 100%
    );
    animation: background 3s linear infinite;
}

@keyframes background {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 400px 0;
    }
}

/* TEXT END */

/* PENSIONSSYSTEM START */

.pens-syst-main-title {
    margin-top: 240px;
}
.more {
    text-decoration: none;
    margin-left: 10px;
    color: #69BC22;
}
.more:hover {
    color: blueviolet;
}
.videos-austr {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.about-wrap-laws {
    max-width: 1060px;
    background-color: white;
    margin: 50px auto;
    height: 900px;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

/* PENSIONSSYSTEM END */


/* TIMELINE START */


.timeline {
    position: relative;
    margin: 0px auto;
    padding: 40px 0;
    width: 1000px;
    box-sizing: border-box;
}
.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}
.timeline ul {
    margin: 0;
    padding: 0;

}
.timeline ul li {
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;

}
.timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
}
.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
}
.content {
    padding-bottom: 20px;
}
.timeline ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    top: 74px;
    right: -6px;
    width: 10px;
    height: 10px;
    background: rgba(233,33,99,1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
}
.timeline ul li:nth-child(even):before {
    content: '';
    position: absolute;
    top: 74px;
    left: -4px;
    width: 10px;
    height: 10px;
    background: rgba(233,33,99,1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
}
.timeline ul li h2 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: black;
}
.timeline ul li p {
    margin: 10px 0 0;
    padding: 0;
    color: rgb(107, 107, 107);
}
.timeline ul li .time h3 {
    margin: 0;
    padding: 0;
    font-size: 18px;
}
.timeline ul li:nth-child(odd) .time {
    position: absolute;
    top: 62px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
    background: gray;
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(233,33,99,0.3);
}
.timeline ul li:nth-child(even) .time {
    position: absolute;
    top: 62px;
    left: -165px;
    margin: 0;
    padding: 8px 16px;
    background: gray;
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(233,33,99,0.3);
}
.timeline ul li:nth-child(odd) .logo-education {
    margin-right: 110px;
}
.timeline ul li:nth-child(even) .logo-education {
    margin-left: 110px;
}

/* TIMELINE END */

/* UMLAGEVERFAHREN START */

.umlag-title {
    margin-top: 140px;
}
.about-wrap-umlag {
    max-width: 1060px;
    background-color: white;
    margin: 50px auto;
    height: 1600px;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}
.umlag-tit {
    font-size: 26px;
    font-weight: bold;
}

/* UMLAGEVERFAHREN END */

/* Kapitaldeckungsverfahren START */

.text-main-kap {
    font-size: 24px;
    font-weight: bold;
    margin-left: 50px;
}
.about-wrap-kap {
    max-width: 1060px;
    background-color: white;
    margin: 50px auto;
    height: 1300px;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

/* Kapitaldeckungsverfahren END */

.dummy_page {
    height: 200px;
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    box-sizing: border-box;
    padding: 60px 0px;
}
/* STYLES SPECIFIC TO FOOTER  */
.footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: #747479;
}
.footer .col {
    width: 190px;
    height: auto;
    float: right;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
}
.footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 18px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255,255,255,0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
}
.footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer .col ul li {
    color: #999999;
    font-size: 16px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}
.social ul li {
    display: inline-block;
    padding-right: 5px !important;
}

.footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
}
.clearfix {
    clear: both;
}
.footer-logo {
    margin-top: 20px;
    margin-left: 20px;
}

.footer .col h1:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
}

